@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url('http://fonts.cdnfonts.com/css/agustina');
@import url('http://fonts.cdnfonts.com/css/cocobiker');
@import url('http://fonts.cdnfonts.com/css/raven-serif-nbp');

/* font-family: 'CocoBikeR', sans-serif; */
/* font-family: 'Raven Serif NBP', sans-serif; */
/* font-family: 'Raven Sans NBP', sans-serif; */


* {
  font-family: "Montserrat";
}

html {
  scroll-behavior: smooth;
}

#logo {
  font-family: 'Agustina', sans-serif;
}

.nav-item a:hover {
  color: green !important;
}

/* hero section */
#head {
  font-size: 60px;
  font-weight: 650;
  font-family: 'CocoBikeR', sans-serif;

}

@media only screen and (max-width: 576px) {
  #head {
    font-size: 33px;
    font-weight: 650;
  }

  #tail {
    font-size: 15px;
  }
}

/* next skill */
#second_col {
  z-index: 99;
}

/* heading */
.heading {
  font-size: 50px;
  font-weight: 600;
  font-family: 'CocoBikeR', sans-serif;
}

/* education */

.paragraph {
  font-size: 10px;
  padding-top: 10px;
}

/* Scroll Active Sticky Navigation Bar */

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}



